{{#> layout}}
  {{#*inline "title"}}{{group.name}}{{/inline}}
  {{#*inline "content"}}
    <div class="groups">
      {{#each groups}}
        <div id="g{{_id}}" class="group">
          <h2><a href="/group/{{_id}}">{{name}}</a></h2>
          <p>{{description}}</p>

          <div class="actions">
            <small>Created on {{date created}}</small>
          </div>
        </div>
      {{/each}}
    </div>
  {{/inline}}
{{/layout}}