{{#> layout}}
  {{#*inline "title"}}Home{{/inline}}
  {{#*inline "content"}}
    <div class="page-actions">
      <div class="buttons">
        <button hx-get="/dialog/create" hx-target="body" hx-swap="beforeend">➕ Create</button>
      </div>
    </div>

    <div id="groups" class="groups">
      {{#each groups}}
        {{#*fragment "group"}}
          <div id="g{{_id}}" class="group">
            <a href="/group/{{_id}}">
              <img src="https://picsum.photos/536/354?random={{_id}}" width="536" height="354" alt="{{name}}">
            </a>
            <h2><a href="/group/{{_id}}">{{name}}</a></h2>
            <div class="description">{{& description}}</div>

            <div class="actions">
              <small>Created by <b>{{owner.name}}</b> on {{date created format="d.m.Y"}}</small>
            </div>
          </div>
        {{/fragment}}
      {{/each}}
    </div>
  {{/inline}}
  {{#*inline "create"}}
    <dialog hx-on::load="this.showModal()" hx-on:close="this.remove()">
      <h2>Create group</h2>
      {{#*fragment "form"}}
        <form hx-post="/create">
          <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="{{name}}" size="40" minlength="3" maxlength="100" required>
            {{#with taken}}
              <span class="error">🛑 This name is already taken!</span>
            {{/with}}
          </div>
          <div>
            <label for="body">Group description</label>
            {{> traits/editor id="group" field="description"}}
          </div>
          <div>
            <button type="submit" hx-disabled-elt="this">Create</button>
            <button value="cancel" hx-on:click="this.closest('dialog').close()">Cancel</button>
          </div>
        </form>
      {{/fragment}}
    </dialog>
  {{/inline}}
{{/layout}}